.post {
    width: 640px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 5px 20px 20px 20px;
    /* height: max-content; */
    min-width: 640px;
    flex-direction: column;
}

.header-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile>label,
.date>label {
    color: #290F4A;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    margin: 15px;
}

.content-post {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
}

.content-post>div>img {
    width: 620px;
    object-fit: cover;
}

.title {
    color: black;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
}

.text {
    color: black;
    text-align: left;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 18px;
}

#edit {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
}

.post:hover .edit-post,
.post:hover .delete-post {
    display: flex;
}

.edit-post,
.delete-post {
    display: none;
}

.edit-post,
.delete-post {
    justify-content: center;
    align-items: center;
    background-color: #290F4A;
    border-radius: 10px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 14px;
    border: none;
    height: 35px;
    width: 120px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

.edit-post:hover,
.delete-post:hover {
    background-color: #3E1A7D;
    transform: translateY(-3px);
}

input[type="file"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}